* {
    background-color: #808000;
    box-sizing: border-box;
}
h1 {
    color: rgb(2, 31, 16);
    display: flex;
    justify-content: center;
}
.reset {
    display: block;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
    border-style: ridge;
}
.reset:hover { 
    transform: scale(1.05); 
    }
    
#container {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    
    
}
.square {
    width: 6.25%;
    height: 6.25%;
    background-color: rgb(7, 110, 110);
    border: 1px solid rgb(2, 31, 16);
}

